:root {
/* Catppuccin Mocha Color Scheme */
--border-color: rgba(88, 91, 112, 0.4);        /* Surface1 */
--border-color-active: rgba(203, 166, 247, 0.9); /* Mauve */

--box-shadow-color: rgba(255, 255, 255, 0.7);
--box-shadow-color-hover: rgba(255, 255, 255, 0.85);


--bg-color: rgba(30, 30, 46, 0.9);             /* Base */
--bg-color-hover: rgba(49, 50, 68, 1);         /* Surface0 */

--border-radius: 12px;
--border-size: 3px;
--border-style: solid;

--text-color: rgba(205, 214, 244, 0.9);          /* Text */

--window-padding: 10px;
}
